
{% load staticfiles %}



<html>
	<head>
        <title>
            Off the Grid
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'vendz/index.css' %}" />
    </head>
    <body>
        <div id="navbar">
            <ul>
                <li><a class="active" href="/vendz">Home</a></li>
                <li><a href="/vendz/events">Events</a></li>
                <li><a href="/vendz/vendors">Vendors</a></li>
            </ul>
        </div>
        <h1> Off the Grid Food </h1>
    	<div >
    		<a href="./events" class = "event_link"> 
    			Events
    		</a>
    	</div>

		<div class = "vendors_link"> 
			<a href="./vendors" class = "vendors_link"> 
				Vendors 
			</a>
		</div>

        
    </body>
</html>

