#navbar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #141413;
}

#navbar > ul > li {
    float: left;
}

#navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 20px;
}

.active {
	background-color:#298AAB;
}

.event_prop {
	margin-left: 50px;
	margin-top: 50px;
	padding-bottom: 10px;
	border-bottom: 1px dotted;
	color: #6E3232;
}

.vendors {
	margin-top: 20px;
	margin-left: 50px;
	padding-left: 10px;
	border: 1px solid;
	border-radius: 10px;
	width: 500px;
	background-color: #F0ECE6;

}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	font-size: 18px;
}