.event_prop {
	margin-left: 50px;
	margin-top: 50px;
	padding-bottom: 10px;
	border-bottom: 1px dotted;
	color: #6E3232;
}

.vendors {
	margin-top: 20px;
	margin-left: 50px;
	padding-left: 10px;
	border: 1px solid;
	border-radius: 10px;
	width: 500px;
	background-color: #F0ECE6;

}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	font-size: 18px;
}